  .row{
    background-color: transparent;
    margin-bottom: 30px;  
  }
  .card{
    padding: 30px 0;
    background-color: #fff;
  }
 .card-col{
  background-color: transparent;
  padding-bottom: 10px;
 }
 .card-body{
  text-align: left;
  background-color: #fff;
 }
 
 